html,
body{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    background-color: rgb(245, 245, 245);
}

/* Start: div container in App.js*/

.container{
  margin: 80px auto 0 auto;
}

/* End: div container in App.js*/
/* Start: Toolbar in Navbar.js*/

.nav-container{
  margin: auto;
}
.nav-container svg{
  color: #fff;
}
/* End: Toolbar in Navbar.js*/

a{
  text-decoration: none;
}